export const environment={
  production:'{{PRODUCTION}}',
  DEPLOY_URL:'{{TEMPLATE_DEPLOY_URL}}',
  GRAPH_QL_SERVER_URL:'{{TEMPLATE_GRAPHQL_URL}}',
  GRAPH_QL_SUBSCRIPTION_SERVER_URL:'{{TEMPLATE_GRAPHQL_SUBSCRIPTION_SERVER_URL}}'
}
